{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <div class="ec-searchnavRole">

        <div class="ec-searchnavRole__topicpath">
            <ol class="ec-topicpath">
                <li class="ec-topicpath__item"><a href="{{ url('news_index') }}">{{ 'ニュース一覧'|trans }}</a>
                <li class="ec-topicpath__divider">|</li>
                <li class="ec-topicpath__item--active">{{ news.title }}</li>
            </ol>
        </div>

    </div>


    <div class="ec-role">

        <hr>
        <div class="news-{{ news.id }} row">
            <div class="col-md-8 col-md-offset-2">
                <p class="text-right"><small>{{ news.publish_date|date("Y/m/d") }}</small></p>
                <h1 class="npsr-title">{{ news.title }}</h1>

                {% if news.tt_thumbnail_url == true %}
                    <div class="npsr-thumbnail">
                        <img src="{{ asset( news.tt_thumbnail_url , 'save_image') }}" alt="{{ news.title }}">
                    </div>
                {% endif %}
                <div class="npsr-content">
                    {{ news.description|raw }}
                    
                    <div class="text-center my-5">
                        <a href="{{ url('news_index') }}" class="btn btn-primary">一覧へ戻る</a>
                    </div>
                </div>

            </div>
        </div>

    </div>


{% endblock %}